PORT = 3000
DATABASE_URL= mongodb+srv://dilawarkhan:dilawarkhan%402024@cluster0.fuiinnd.mongodb.net/fleatbackend
NODE_ENV= development
SIGN_ACCESS_TOKEN= DILAWARKHANKAMBOHSOFTWAREDEVELOPERMERNSTACKDEVELOPER
SIGN_REFRESH_TOKEN= DILAWARKHANKAMBOHSOFTWAREDEVELOPERMERNSTACKCODERABC

CLOUDINARY_CLIENT_KEY=138379923429397
CLOUDINARY_CLIENT_NAME=hamzanafasat
CLOUDINARY_CLIENT_SECRET=xDVZzfAYMncJLVo8gktRO8V3W2k

SERVER_URL="http://localhost:3000"
FRONTEND_URL="http://localhost:5173"

NODEMAILER_HOST="smtp.gmail.com"
NODEMAILER_PORT=465
NODEMAILER_USER="hello"
NODEMAILER_PASSWORD="hello"